html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div#desc {
    background-color: #222222;
    display: flex;
    min-height: 100vh;
    height: max-content;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    text-align: center;
    font-family: Notosans, Calibri;
    transition: opacity, 18ms;
}

div>h2 {
    max-width: 1200px;
    font-weight: bold;
    font-size: 50px;
    padding: 2rem;
    transition: opacity, 1s;
}

p {
    font-size: 20px;
    width: 80%;
    max-width: 1000px;
    transition: opacity, 1s;
}

p.cdown{
    font-family: Handjet,'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 900;
    position: absolute;
    opacity: 0;
    font-size: 50vw;
    transition: opacity, 0.5s, font-size, 0.5s;
}

form{
    transition: opacity, 1s;
}

label {
    margin-top: 0.4rem;
    text-shadow: None;
    color: black;
    margin-right: 0.5rem;
}

.form-label-light{
    text-shadow: inherit;
    color: inherit;
    margin-right: 0.5rem;
}

.btn {
    height: fit-content;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.btn-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.italics {
    font-style: italic;
    font-size: 30px;
}

.img-fluid {
    position: absolute;
    top: 0.375rem;
    right: 0.375rem;
    height: 2.25rem;
    width: 2.25rem;
    rotate: 0deg;
    transition: rotate, 0.4s;
}

.sm {
    display: none;
}

.lg {
    display: inherit;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#txt3{
    opacity: 0;
}

#settings-input {
    display: flex;
    flex-direction: column;
}

#initial-input {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    border: 1px solid azure;
    border-radius: 2rem;
}

#initial-input>.form-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-child {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: background-color 1s, width 0.2s ease-out, height 0.2s ease-out;
}

@media (max-width: 575.98px){
    div#desc{
        width: 100vw;
    }
    .sm {
        display: inherit;
    }
    .lg {
        display: none;
    }
    div>h2 {
        font-size: 32px;
    }
    p {
        font-size: 11px;
    }
    label {
        font-size: 11px;
    }
    .btn {
        font-size: 11px;
    }

    div>.slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      background: #222222;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    div>.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
    }
    
    div>.slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
    }
}

@font-face {
    font-family: NotoSans;
    src: url(fonts/Noto_Sans/NotoSans-Regular.ttf)
}

@font-face {
    font-family: Handjet;
    src: url(fonts/Handjet/static/Handjet-Regular.ttf)
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #222222;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider-light {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider:hover {
  opacity: 1;
}

.slider-light:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

.slider-light::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: azure;
    cursor: pointer;
  }
  
  .slider-light::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: azure;
    cursor: pointer;
  }
/* Name: Bright Turquoise
Hex: #0AE4EE
RGB: (10, 228, 238)
CMYK: 0.957, 0.042, 0, 0.066
DODGER BLUE	
Name: Dodger Blue
Hex: #179CF9
RGB: (23, 156, 249)
CMYK: 0.907, 0.373, 0, 0.023
RAISIN BLACK	
Name: Raisin Black
Hex: #222222
RGB: (34, 34, 34)
CMYK: 0, 0, 0, 0.866
EGYPTIAN BLUE	
Name: Egyptian Blue
Hex: #0B32B0
RGB: (11, 50, 176)
CMYK: 0.937, 0.715, 0, 0.309
PICTON BLUE	
Name: Picton Blue
Hex: #4CAEFF
RGB: (76, 174, 255)
CMYK: 0.701, 0.317, 0, 0 */